/* Module SASS styling for authentication (login/register) */

@use 'sass:map';
@use 'vars';

.auth {
    height: map.get(vars.$heights, "MainContent");
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    color: vars.$maincolor;
}

.auth_insider {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            font-family: 'Exo 2', sans-serif !important;
            font-size: 58px;
            text-shadow: -3px 3px 5px black;
        }

        .underHeader {
            color: vars.$subheaderColor;
        }
    }

    .form {
        width: 70%;
        margin: 0 auto;
    }
}