@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: vars.$bgcolor !important;
  height: 100%;
  width: 100%;
  color: vars.$maincolor !important;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:not(.nav-link):not(.dropdown-item):not(.btn) {
  @extend %link-template;
  color: vars.$maincolor;
  text-decoration: none;
  text-shadow: 0 0 3px;

  &:hover {
    text-shadow: 0 0 7px;
  }
}

.login-forms {
  margin-top: 5px;
}

#login-page-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  align-items: center;

  #login-page-err {
    max-width: 75%;
  }
}