/* Module SASS styling for navbar (header) */

@use 'vars';

.head {
    height: 6% !important;
    z-index: 1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, vars.$maincolor, transparent, vars.$maincolor) 1;

    .logo {
        font-weight: 500;
        font-family: cursive;
    }
}