/* Module SASS styling for main page content */

@use "sass:map";
@use 'vars';

.content {
    height: map.get(vars.$heights, "MainContent") !important;
    width: 100%;
    position: absolute;
    color: vars.$maincolor;

    .container {
        padding-left: 0 !important;
    }
}