/* Module SASS styling for sidebar */

@use 'vars';

#main {
    padding: vars.$sidebar-padding;
    box-shadow: 6px 0px 20px 0px #000;
    height: 100% !important;
    position: absolute;
    width: calc(100% / 6);
    /* width of other elements may change */
    background-color: rgb(vars.$bgcolor2);
    color: white;
}